@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-family: "Inter", sans-serif;
}


header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#F55A5A;
  color: white;
  padding: 16px;
  gap: 7px;
}

h1{

  font-weight: normal; /* restablece el peso de la fuente */
  font-size: 14px;
  color: white;
}
.card{
  display: flex;
  align-items: center;
  gap: 19px;
  margin: 40px;
}


.deestiny img{
  width: 7px;
}

.deestiny{
  font-size: 10px;
  margin: 0px;
}

span img{
  margin-right: 4px;
}

.deestiny a{
  margin-left: 7px;
  color:#918E9B;
  font-weight: normal;
}

h2{
  font-size: 25px;
  color: #2B283A;
  margin-top: 7px;
}

.date{
  font-size: 10px;
  font-weight: bold;
  margin-top: 17px;
}

.description{
  font-size: 10px;
}