header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
}


.card{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 100px;
}


.img-card{
  width: 50%;
}
